<h2>Add a bookmark for <%= @list.name %> </h2>
<% simple_form_for[@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.active.order(:name),
                            prompt: 'Choose a movie' %>
  <%= f.submit 'Add' %>
<% end %>
